.header {
    background-color: #776071;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}
.nav {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}   
.nav-link {
    text-decoration: none;
    color: #6084a8;
    font-weight: bold;
}
.nav-link.active {
    color: #007bff;
}
.nav-link:hover {
    text-decoration: underline;
}