<div>
    <header class="header">
        <nav class="nav">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
        <a routerLink="/recipes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Recipes</a>
        <a routerLink="/shopping-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Shopping List</a>
        </nav>
    </header>
    <h1 style="text-align: center;">Recipe Book</h1>

</div>